body{
    padding: 0px;
    margin: 0px;
}
h4{
    font-size: medium;
}
h3{
    font-size: xx-large;
}
.navbar{
    background-color: #333a40;
}

#logo .navbar-brand {
    font-weight: 700;
    font-size: 25px;
    color: white;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: right;
    font-size: 20px;
}

#btn-comprar{
    color: yellowgreen;
    
    
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:gray;
    text-decoration: none;
}


#carouselExampleSlidesOnly{
    display: flex;
}
 
.carousel-inner{
    position: relative;
    display: inline-block;
    text-align: center;

}

#class-texto-btn{
position: absolute;
display: flex;
justify-content: flex-end;
left: 50%;
top:50%;
color:white;
padding-right: 10%;

}

.carousel-item{
    filter:brightness(0.4)
}

#texto{
    font-size: 20px;
    text-align: end;
    margin-bottom: 10px ;
}

#btn-carousel{
position: absolute;
bottom: -20px;
}

#div-tarjetas{
    margin-top: 20px;
}

.texto-tarjetas{
    text-align: center;
}

.div-der{
    color: white;
}
 
.div-izq{
    background-image: url(../img/honolulu.jpg);
    background-size: cover;
    width: 50%;
    height: 50vh; 
}    
 
.text-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}


.formulario{
    display: flex;
    align-items: center!important;
    padding-left: 50%;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}



.datos-form{
    display: flex;
    justify-content: space-between;
    
    
}
#enviar{
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 5px;
    border-color: antiquewhite;
}

footer{
display: flex;
justify-content: space-around;
padding: 20px;
background-color: #1f5271;
}

#form-tickets{
    width: 600px;
    padding: 30 px;
    display: inline;
   
    margin-top: 20px;

}



.cat{
    width: 300px;
    height: 24px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

input{
    width: 200px;
    height: 38px;
}

select{
    width: 200px;
    height: 38px;
}

.grid{
    display: flex;
    justify-content: center;
}
.cubo {
    padding: 10px;
    margin: 2px;
    width: 200px;
    height: 180px ;
    text-align: center;
    border: 2px solid #007bff ;
    line-height: 10px;
}
.cubo h3 {
    font-size: 20px;
}

.cubo p {
    font-size: 12px;
    color: #333a40;
}

.tickets{
    text-align: center;
    margin-bottom: 20px;
}

#btn-ticket{
    width: 100%;
}

#btn-resumen{
    width: 50%;
}
#btn-borrar{
    width: 50%;
}

.total h4{
    height: 50px;
    color: #429ee8;
    text-align: start;
    justify-content: center;
    background-color: #cce5ff;
}


.cantidad{
    width: 50%;
    text-align: initial;
}